#olt_wrap {
  background-color: aqua;
  padding: 10px;
  width: 100%;
  color: #ffffff;
  font-size: 8px;
  font-family: 'Courier New', Courier, monospace;

  display: flex;
  align-items: center;
  justify-content: center;

  #olt {
    background-color: #3a3a3a;
    width: 750px;
    height: 90px;
    border-radius: 3px;
    padding: 0 10px;

    display: flex;
    align-items: center;

    .g1 {
      // background-color: rebeccapurple;
      // width: 30px;
      height: 65px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .ports {
        background-color: #ffffff;
        padding: 2px;
        height: 45px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .port {
          background-color: #3a3a3a;
          width: 23px;
          height: 16px;
        }
      }
    }

    .margin {
      margin: 0 15px;
    }
    
    .margin2 {
      margin: 0 2px;
    }
  }
}